  a {
    color: #006a71;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 35px;
    text-decoration: none;
  }

  a:hover {
    color: #106e42;
  }

  p {
    line-height: 2;
  }

  .bottom-container {
    margin-top: 25px;
    padding-top: 100px;
    text-align: center;
  }

  #copyright {
    margin-top: 15px;
    color: #198754;
    font-size: 1em;
    padding: 20px 0;
  }

  .footer-link {
    color: #198754;
  }